@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    transition: all .6s ease;
    -o-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
}

body{
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 16px;
    background: white;
    color: #000;
}

header{
    width: 100%;
    background: #F8F8F8;
    box-shadow: 2px 4px 6px rgba(194, 192, 192, 0.25);
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Если больше 1571 */
@media (min-width: 1571px){
    header .all-header{
        width: 60%;
        margin: 0 20%;
    }
}

/* Если меньше или равно 1570 до 1111*/
@media (max-width: 1570px) and (min-width:1111px){
    header .all-header{
        width: 80%;
        margin-left: 10%;
    }
}

/* Если меньше или равно 1110 до 921*/
@media (max-width: 1110px) and (min-width: 921px){
    header .all-header{
        width: 95%;
        margin-left: 2.5%;
    }
}

/* Если меньше или равно 920*/
@media (max-width: 920px){
    header .all-header{width: 90%; margin-left: 5%;}
    header .all-header .header-main{flex-direction: column}

    header .all-header .header-main div, 
    header .all-header .header-main a,
    header .all-header .header-main input{margin-top: 20px;}
}

header .all-header .lang{
    text-align: right;
    width: 100%;
}

header .all-header .lang a{
    font-size: 14px;
    color: #c4c4c4;
    font-weight: 800;
}

header .all-header .lang a.active,
header .all-header .lang a:hover
{
    color: #000;
    border-bottom: 2px solid #000;
    margin-left: 5px;
}

header .all-header .header-main{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

header .all-header .header-main img{
    height: 50px; 
}

#search{
    border: 0;
    background: #ECECEC;
    width: 360px;
    height: 44px;
    font-weight: 300;
    font-size: 12px;
    text-indent: 20px;
    outline: none;
}

header .all-header .header-main a{
    color: #000;
    font-weight: 800;
}

header .all-header .header-main a:hover{color: #ccc;}

header .all-header .header-main .btn{
    cursor: pointer;
    width: 86px;
    height: 40px;
    font-weight: 800;
    border: 2px solid #000;
    text-align: center;
    line-height: 40px;
}

header .all-header .header-main .btn.reg{
    width: 180px;
}

header .all-header .header-main .btn.reg,
header .all-header .header-main .btn.auth:hover{
    background: #000;
    color: #fff;
}

header .all-header .header-main .btn.reg:hover{
    background: #fff;
    color: #000;
}

main{
    width: 100%;
}

main .section{
    width: 60%;
    margin: 50px 20%;
}

main .section h3{
    font-size: 24px;
}
main .section h3 span{
    height: 2px;
    display: inline-block;
    margin-right: 15px;
    margin-left: 40px;
    margin-bottom: 7px;
    width: 30px;
    background: #000;
}

main .section .flex-container{
    display: flex;
    justify-content: space-between;
}

main .section .img-block{
    width: 25%;
    margin: 20px 0;
    position: relative;
    cursor: pointer;
}

@media(max-width: 955px){
    main .section .flex-container{
        flex-direction: column;
        justify-content: center;
    }
    main .section .img-block{width: 100%;}
}

main .section .img-block img{
    width: 100%;
}

main .section .img-block h4{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

main .section .img-block p{
    font-size: 14px;
    font-weight: 300;
}

main .section .img-block:hover .button-play{
    opacity: 1;
}

main .section .img-block .button-play{
    background-color: #000;
    color: Yellow;
    padding: 25px;
    position: absolute;
    right: -30px;
    bottom: 80px;
    opacity: 0;
    transition: all .6s ease;
    -o-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
}

footer{
    width: 100%;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 60px 0;
    font-weight: 300;
}